html, body, h6 {
    background-color: rgb(0, 0, 0);
    color: #000000;
    font-family: "Roboto", sans-serif; 
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}
a:hover {
   filter: brightness(80%);
}
b {
    color: #3a3a3a;
}
h1, h2, h3, h4, h5, h6 {
    background-color: #fff;
    font-weight: 400;
    margin: 10px 0;
}
h3 {
    color: #3a3a3a;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px
}
h5 {
    font-size: 18px;
}
h6 {
    color: #757575;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.16),0 2px 10px 0 rgba(255, 255, 255, 0.12);
    line-height: 21px;
    margin: 0 16px 16px 16px;
}
.container {
    padding: 0.01em 16px;
}
.fa {
    margin-right: 10px !important;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.twothird {
    flex: 1 1 0;
    flex-basis: 66%;
}
.onethird {
    flex: 1 1 0;
    flex-basis: 33%;
}
